<template>
    <breeze-authenticated-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Tasks
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-2 w-1/3 mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="container">
                          <div v-if="Object.keys(errors).length > 0" class="alert alert-danger mt-4">
                            {{ errors[Object.keys(errors)[0]][0] }}
                          </div>

                          <form action="/tasks" method="POST" class="my-5" @submit.prevent="createTask">
                            <div class=" grid grid-cols-2 gap-4">
                              <div class="form-group">
                                <label for="name" class="block">Task Name</label>
                                <input type="text" class="rounded-md py-1.5 pl-2" id="name" placeholder="" v-model="form.name">
                              </div>
                              <div class="form-group">
                                <Listbox as="div" v-model="form.status">
                                  <ListboxLabel class="text-sm font-medium text-gray-700">
                                    Status
                                  </ListboxLabel>
                                  <div class="relative">
                                    <ListboxButton class="relative w-full bg-white border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                                      <span class="flex items-center">
                                        <span class="ml-3 block truncate">{{ selected.value }}</span>
                                      </span>
                                      <span class="ml-3 absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                                        <SelectorIcon class="h-5 w-5 text-gray-400" aria-hidden="true" />
                                      </span>
                                    </ListboxButton>

                                    <transition leave-active-class="transition ease-in duration-100" leave-from-class="opacity-100" leave-to-class="opacity-0">
                                      <ListboxOptions class="absolute z-10 w-full bg-white shadow-lg max-h-56 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm">
                                        <ListboxOption as="template" v-for="status in status" :key="status.id" :value="status.value" v-slot="{ active, selected }">
                                          <li :class="[active ? 'text-white bg-indigo-600' : 'text-gray-900', 'cursor-default select-none relative py-2 pl-3 pr-9']">
                                            <div class="flex items-center">
                                              <span :class="[selected ? 'font-semibold' : 'font-normal', 'ml-3 block truncate']">
                                                {{ status.value }}
                                              </span>
                                            </div>

                                            <span v-if="selected" :class="[active ? 'text-white' : 'text-indigo-600', 'absolute inset-y-0 right-0 flex items-center pr-4']">
                                              <CheckIcon class="h-5 w-5" aria-hidden="true" />
                                            </span>
                                          </li>
                                        </ListboxOption>
                                      </ListboxOptions>
                                    </transition>
                                  </div>
                                </Listbox>
                              </div>
                            </div>
                            <div class="form-group mt-2">
                              <div v-for="(subtask, id) in form.subtask" :key="id" class="inline">
                                <label for="name" class="block">Subtask</label>
                                <input type="text" class="rounded-md py-1.5 pl-2" id="subtask" placeholder="" v-model="form.subtask[id]">
                              </div>
                              <button @click="addSubTask" class="p-0" type="button"><PlusCircleIcon class="inline h-10 w-10 text-green-400" /></button>
                            </div>
                            
                            <br />
                            <inertia-link :href="route('tasks.create')" class="mt-6 py-2 px-4 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75">
                              Create Task
                            </inertia-link>
                          </form>
                        </div> <!-- end of container -->
                    </div> <!-- end of p-6 -->
                </div>
            </div>
        </div>
        
    </breeze-authenticated-layout>
</template>

<script>
    import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'
    import { ref } from 'vue'
    import { Listbox, ListboxButton, ListboxLabel, ListboxOption, ListboxOptions } from '@headlessui/vue'
    import { CheckIcon, SelectorIcon, PlusCircleIcon } from '@heroicons/vue/solid'

    const status = [
      {
        id: 1,
        value: "Complete",
      },
      {
        id: 2,
        value: "Pending",
      },
      {
        id: 3,
        value: "Cancelled",
      },
    ]

    export default {
      props: ['errors'],
      components: {
        BreezeAuthenticatedLayout,
        Listbox,
        ListboxButton,
        ListboxLabel,
        ListboxOption,
        ListboxOptions,
        CheckIcon,
        SelectorIcon,
        PlusCircleIcon,
      },
       setup() {
        const selected = ref(status[0])
        return {
          status,
          selected,
        }
      },
      data() {
        return {
          form: {
            name: '',
            status: '',
            subtask: [""]
          }
        }
      },
      methods: {
        addSubTask() {
          this.form.subtask.push("");
          console.log(this.form)
        },
        createTask() {
          console.log("test")
          this.$inertia.post('/tasks', this.form)
            .then(() => {
              // code
            })
        }
      }
  
    }
</script>