<template>
    <breeze-authenticated-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Tasks
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="container">
                          <div v-if="successMessage" class="alert alert-success mt-4">
                            {{ successMessage }}
                          </div>

                          <div class="my-5">
                            <inertia-link :href="route('tasks.create')" class="py-2 px-4 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-opacity-75">
                              Create Task
                            </inertia-link>
                          </div>
                          <div class="rounded-t-xl overflow-hidden bg-gradient-to-r from-indigo-50 to-teal-100 p-10">
                            <table class="table-auto">
                              <thead>
                                <tr>
                                  <th class="px-4 py-2 text-emerald-600">Task</th>
                                  <th class="px-4 py-2 text-emerald-600">Status</th>
                                  <th class="px-4 py-2 text-emerald-600">Created At</th>
                                  <th class="px-4 py-2 text-emerald-600">Updated At</th>
                                  <th class="px-4 py-2 text-emerald-600">Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="task in tasks" :key="task.id">
                                  <td class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium">{{ task.name }}</td>
                                  <td class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium">{{ task.status }}</td>
                                  <td class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium">{{ task.created_at }}</td>
                                  <td class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium">{{ task.updated_at }}</td>
                                  <td class="border border-emerald-500 px-4 py-2 text-emerald-600 font-medium">
                                    <inertia-link :href="`/users/${task.id}/edit`" class="py-2 px-4 mr-2 bg-yellow-400 text-white font-semibold rounded-lg shadow-md hover:bg-yellow-500 ">Edit</inertia-link>
                                    <button class="py-2 px-4 bg-red-500 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 " @click="deleteTask">Delete</button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </breeze-authenticated-layout>
</template>

<script>
    import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'

    export default {
      components: {
          BreezeAuthenticatedLayout,
      },
      props: [
        'tasks', 
        'successMessage'
      ],
      mounted() {
        // console.log(this.tasks)
      },
      methods: {
        deleteTask() {
          if (confirm('Are you sure you want to delete this Task?')) {
            this.$inertia.delete(`/tasks/${this.task.id}`)
            .then(() => {
            })
          }
        }
      },
  
    }
</script>